<div class="bleeding">

<h1>Bleeding</h1>
<p>For severe bleeding, take these first-aid steps and reassure the injured person.<p>
1.	Remove any clothing or debris on the wound. Don't remove large or deeply embedded objects. Don't probe the wound or attempt to clean it yet. Your first job is to stop the bleeding. Wear disposable protective gloves if available.<br>
2.	Stop the bleeding. Place a sterile bandage or clean cloth on the wound. Press the bandage firmly with your palm to control bleeding. Apply constant pressure until the bleeding stops. Maintain pressure by binding the wound with a thick bandage or a piece of clean cloth. Don't put direct pressure on an eye injury or embedded object.<br>
Secure the bandage with adhesive tape or continue to maintain pressure with your hands. If possible, raise an injured limb above the level of the heart.<br>
3.	Help the injured person lie down. If possible, place the person on a rug or blanket to prevent loss of body heat. Calmly reassure the injured person.<br>
4.	Don't remove the gauze or bandage. If the bleeding seeps through the gauze or other cloth on the wound, add another bandage on top of it. And keep pressing firmly on the area.<br>
5.	Tourniquets: A tourniquet is effective in controlling life-threatening bleeding from a limb. Apply a tourniquet if you're trained in how to do so. When emergency help arrives, explain how long the tourniquet has been in place.<br>
6.	Immobilize the injured body part as much as possible. Leave the bandages in place and get the injured person to an emergency room as soon as possible.<br>

<p>Call emergency medical help for severe bleeding that you can't control
</p>
<img src="image/bleeding.jpg" alt="" srcset=""><br><br>
<a href="/first-aid">back</a>
</div>