<div class="burn">
    <h1>Burns</h1>
<p>Treating major burns<br>
Until emergency help arrives:<p>
1.	Protect the burned person from further harm. If you can do so safely, make sure the person you're helping is not in contact with the source of the burn. For electrical burns, make sure the power source is off before you approach the burned person. Don't try to remove clothing stuck in the burn.<br>
2.	Make certain that the person burned is breathing. If needed, begin rescue breathing if you know how.<br>
3.	Remove jewelry, belts and other tight items, especially from the burned area and the neck. Burned areas swell quickly.<br>
4.	Cover the burn. Loosely cover the area with gauze or a clean cloth.
5.	Raise the burned area. Lift the wound above heart level if possible.<br>
6.	Watch for signs of shock. Signs and symptoms include cool, clammy skin, weak pulse and shallow breathing.<br>

<p>Treating minor burns<br>
For minor burns:<p>
1.	Cool the burn. Hold the area under cool (not cold) running water for about 10 minutes. If the burn is on the face, apply a cool, wet cloth until the pain eases. For a mouth burn from hot food or drink, put a piece of ice in the mouth for a few minutes.<br>
2.	Remove rings or other tight items from the burned area. Try to do this quickly and gently, before the area swells.<br>
3.	Don't break blisters. Blisters help protect against infection. If a blister does break, gently clean the area with water and apply an antibiotic ointment.<br>
4.	Apply lotion. After the burn is cooled, apply a lotion, such as one with aloe vera or cocoa butter. This helps prevent drying and provides relief.<br>
5.	Bandage the burn. Cover the burn with a clean bandage. Wrap it loosely to avoid putting pressure on burned skin. Bandaging keeps air off the area, reduces pain and protects blistered skin.<br>
6.	If needed, take a nonprescription pain reliever, such as ibuprofen (Advil, Motrin IB, others), naproxen sodium (Aleve) or acetaminophen (Tylenol, others).<br>
</p>
<img src="image/burn.jpg" alt="" srcset=""> <br> <br>
    <a href="/first-aid">back</a>
</div>