<div class="choking">
    <h1>Choking</h1>
<p>If the person is able to cough forcefully, the person should keep coughing. If the person is choking and can't talk, cry or laugh forcefully, the American Red Cross recommends a "five-and-five" approach to delivering first aid:<p>
1.	Give 5 back blows. Stand to the side and just behind a choking adult. For a child, kneel down behind. Place one arm across the person's chest for support. Bend the person over at the waist so that the upper body is parallel with the ground. Deliver five separate back blows between the person's shoulder blades with the heel of your hand.<br>
2.	Give 5 abdominal thrusts. Perform five abdominal thrusts (also known as the Heimlich maneuver).<br>
3.	Alternate between 5 blows and 5 thrusts until the blockage is dislodged.<br>
To perform abdominal thrusts (Heimlich maneuver) on someone else:
4.	Stand behind the person. Place one foot slightly in front of the other for balance. Wrap your arms around the waist. Tip the person forward slightly. If a child is choking, kneel down behind the child.<br>
5.	Make a fist with one hand. Position it slightly above the person's navel.<br>
6.	Grasp the fist with the other hand. Press hard into the abdomen with a quick, upward thrust — as if trying to lift the person up.
7.	Perform between six and 10 abdominal thrusts until the blockage is dislodged.<br>
<p>If the person becomes unconscious, perform standard cardiopulmonary resuscitation (CPR) with chest compressions and rescue breaths.<p>
<p>To perform abdominal thrusts (Heimlich maneuver) on yourself:<p>
1.	Place a fist slightly above your navel.<br>
2.	Grasp your fist with the other hand and bend over a hard surface — a countertop or chair will do.<br>
3.	Shove your fist inward and upward.<br>
<p>To clear the airway of a pregnant woman or obese person:<p>
4.	Position your hands a little bit higher than with a normal Heimlich maneuver, at the base of the breastbone, just above the joining of the lowest ribs.<br>
5.	Proceed as with the Heimlich maneuver, pressing hard into the chest, with a quick thrust.<br>
6.	Repeat until the food or other blockage is dislodged. If the person becomes unconscious, follow the next steps.<br>

<p>To clear the airway of an unconscious person:<p>
1.	Lower the person on his or her back onto the floor, arms to the side.<br>
2.	Clear the airway. If a blockage is visible at the back of the throat or high in the throat, reach a finger into the mouth and sweep out the cause of the blockage. Don't try a finger sweep if you can't see the object. Be careful not to push the food or object deeper into the airway, which can happen easily in young children.<br>
3.	Begin CPR if the object remains lodged and the person doesn't respond after you take the above measures. The chest compressions used in CPR may dislodge the object. Remember to recheck the mouth periodically.<br>
</p>
<img src="image/choking.png" alt="" srcset=""><br><br>
    <a href="/first-aid">back</a>
</div>