<div class="cpr">
    <h1> CPR </h1>
<p>What is CPR?<p>
Cardiopulmonary resuscitation (CPR) is a lifesaving technique. It aims to keep blood and oxygen flowing through the body when a person’s heart and breathing have stopped.<br>
CPR is for people experiencingTrusted Source cardiac arrest. A heart attack occurs when blood flow to the heart is blocked, but the person is still conscious and not yet in cardiac arrest. Someone experiencing a heart attack may go into cardiac arrest and should go to the hospital immediately.<br>
According to the American Heart Association (AHA)Trusted Source, CPR can double or triple the chances of survival after cardiac arrest. The primary goal of CPR is to keep blood flow active until medical professionals arrive.<br>
The steps of CPR are a bit different according to whether the person is an adult, child, or infant. The primary difference is whether chest compressions are performed with two hands (adults), one hand (children), or thumbs/fingers (infants).<br>
<p>CPR types<p>
There are two types of CPR and both have a potentially life-saving impact. They are:<br>
•	Hands-only CPR. InvolvesTrusted Source calling for help and then pushing on the chest in a rapid motion. These movements are called chest compressions. Hands-only CPR can prevent a delay in getting blood moving through the body.<br>
•	Traditional CPR with breaths. Also called CPR with breaths, this alternates chest compressions with mouth-to-mouth breaths. This type of CPR can give the body more oxygen in the critical moments before help arrives.<br>
People who have no CPR training, or who received training many years ago, should use hands-only CPR. It’s also best for those who have CPR training but might not be comfortable with the method enough to help someone experiencing cardiac arrest.<br>
People with training in traditional CPR, and who are comfortable with the method, can use this technique.<br>
Hands-only CPR is appropriate for adults and teens in distress.<br> Traditional CPR is appropriate for anyone in cardiac arrest, including adults, teens, children, and infants.<br>
<p>Chest compressions<p>
Both hands-only CPR and CPR with breaths involve chest compressions. When a person is in cardiac arrest, the heart has stopped and it cannot pump blood through the body. Chest compressions recreate this pumping motion so the blood circulates to vital organs and the rest of the body.<br>
The compression rate is the number of compressions you should perform in 1 minute. The AHA’s recommendation for hands-only CPR is 100 to 120 compressions per minute. It is important to let the chest come back up after every push-down. The AHA also advises people to remember the beat of the song, “Stayin’ Alive” to time their compressions.<br>
<p>Importance of CPR<p>
CPR performed within the first few minutes of the heart stopping can keep someone alive until medical help arrives.<br>
Rescue breathing techniques were used to reviveTrusted Source drowning victims as early as the 18th century. But it wasn’t until 1960 that external cardiac massage was provenTrusted Source to be an effective revival technique, which is when AHA developed a formal CPR program.
The AHA recently recommendedTrusted Source that people who haven’t received CPR training initiate “hands-only” CPR. This method removes the rescue breathing and is easy to perform and is proven to save lives.<br>
<p>Performing hands-only CPR<p>
Hands-only CPR is recommended only if an adult or teen is in cardiac arrest. It is not recommended if the distressed person is a child or infant.<br>
People without CPR training can perform hands-only CPR by following the steps below.<br>
1. Survey the scene.<br>
Make sure it’s safe for you to reach the person in need of help.<br>
2. Check the person for responsiveness.<br>
Tap their shoulder and ask loudly, “Are you OK?”<br>
3. If the person isn’t responsive, seek immediate help.<br>
Call emergency services if the person isn’t responsive. If you’re alone and believe the person is a victim of drowning, begin CPR first for 2 minutes before calling emergency services.<br>
4. Place the person on a firm, flat surface.<br>
To prepare to give chest compressions, place them safely on a flat surface and kneel beside them.<br>
5. Check the heart with an automated external defibrillator (AED).<br>
If an AED is readily available, use it to check the person’s heart rhythm. The machine may also instruct you to deliver one electric shock to their heart before beginning chest compressions.<br>
If an AED isn’t immediately available, start chest compressions immediately.<br>
6. Locate hand position.<br>
If the person is an adult, place the heel of one of your hands in the center of their chest, between the nipples. Put your other hand on top of the first. Interlock your fingers and raise them up so only the heel of your hand remains on their chest.<br>
  
7. Begin compressions.<br>
To start compressions on an adult, use your upper body to push straight down on their chest at least 2 inches. Perform these at a rate of 100 to 120 compressions per minute. Allow their chest to recoil between compressions.<br>
8. Continue compressions.<br>
Repeat the compression cycle until the person starts to breathe or medical help arrives. If the person begins to breathe, have them lie on their side quietly until medical assistance is on the scene.
<p>Performing mouth-to-mouth resuscitation<p>
Mouth-to-mouth resuscitation, or CPR with breaths, is appropriate to give to an adult, teen, child, or infant. The chest compression technique is different for each age group.<br>
When the AHA revised its CPR guidelines in 2010Trusted Source, it announced that chest compressions should be performed first before opening the person’s airway. The old model was ABC (Airway, Breathing, Compressions). This was replaced by CAB (Compressions, Airway, Breathing).<br>
Since then, the 2020 guidelinesTrusted Source have been released. The new guidelines say that a person near someone who may be experiencing cardiac arrest should initiate CPR immediately without waiting. This is because, in the first few minutes of cardiac arrest, there’s still oxygen in the person’s lungs and bloodstream.<br>
Starting chest compressions first on someone who’s unresponsive or not breathing normally can help send this critical oxygen to the brain and heart without delay.<br>
<p>For infants under the age of 1 and for children, ventilation (rescue breaths) and compression are both essential. The newest guidelines recommend using higher ventilation rates of at least 30 per minute in infants younger than 1 year
and at least 25 per minute in older children.<br>
If you’re trained in CPR and see someone who’s unresponsive or having difficulty breathing, follow the steps for hands-only CPR for 30 chest compressionsTrusted Source, followed by CPR with breathing.
Steps for adults, children, and infants are as follows.
.</p>
<img src="image/cpr.jpg" alt="" srcset=""> <br><br>
    <a href="/first-aid">Back</a>
</div>