<div class="eye">
    <h1>Eye Injury</h1>
<p>Call an ambulance if :<br>
An object such as a piece of glass or metal is sticking out of the eye.<br>
<p> -For Chemical Exposure<p>
1.	Don't rub eyes.<br>
2.	Immediately wash out the eye with lots of water. Use whatever is closest -- water fountain, shower, garden hose.<br>
3.	Get medical help while you are doing this, or after 15 to 20 minutes of continuous flushing.<br>
4.	Don't bandage the eye.<br>

<p> -For a Blow to the Eye<p>
1.	Apply a cold compress, but don't put pressure on the eye.<br>
2.	Take over-the-counter acetaminophen (Tylenol) or ibuprofen (Advil, Motrin) for pain.<br>
3.	If there is bruising, bleeding, change in vision, or it hurts when your eye moves, see a doctor right away.<br>

<p> -For a Foreign Particle in Eye<p>
1.	Don't rub the eye.<br>
2.	Pull the upper lid down and blink repeatedly.<br>
3.	If particle is still there, rinse with eyewash.<br>
4.	If rinsing doesn't help, close eye, bandage it lightly, and see a doctor.<br>
</p>
<img src="image/eye.png" alt="" srcset=""> <br><br>
    <a href="/first-aid">Back</a>
</div>