
<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span>about</span> us </h1>

    <div class="row">

        <div class="image">
            <img src="image/about-img.svg" alt="">
        </div>

        <div class="content">
            <h3>we take care of your healthy life</h3>
            <p>A healthy lifestyle is one in which the person is able to live a normal life by adopting habits and daily life activities that contribute to his health. In daily life, people face different challenges and stress at workplace and personal life.</p>
            <p> A healthy lifestyle is a lifestyle that strikes balance between professional and personal lives of an individual and helps him put up with the stress. A person with a healthy lifestyle has a positive mindset and a readiness to take up any new challenges</p>
            <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

    </div>

</section>

<!-- about section ends -->

